<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mercer长期激励工具管理系统</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <script src="{% static "csrf.js" %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet"
          media="screen">
    <link href="{% static "css/bootstrap-select.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "sortable-0.8.0/css/sortable-theme-bootstrap.css" %}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="col-md-1"></div>
<!-- Navigation -->
<div class="col-md-10">
    <h1>Mercer长期激励工具管理系统</h1>
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href={% url "index" %}>首页</a>
                    </li>
                    <li>
                        <a href={% url "staff" %}>人员管理</a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">计划管理<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href={% url "plan" %}>计划信息</a></li>
                            <li><a href={% url "planlist" %}>授予记录</a></li>
                            <li><a href={% url "attlist" %}>归属记录</a></li>
                        </ul>
                    </li>
                    <li>
                    <li class="active">
                        <a href={% url "company" %}>企业信息</a>
                    </li>
                    </li>

                </ul>

            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>

<div class="col-md-1"></div>

<div class="container-fluid">


    <div class="col-md-1"></div>


    <div class="col-md-8">
        <h3 style="display: table;margin-left: auto;margin-right: auto">企业信息</h3>
        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading">
                <p>基本信息</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <label class="col-sm-6">企业名称 : {{ company.c_name }}</label>
                        <label class="col-sm-6">企业地址 : {{ company.c_address }}</label>
                    </div>
                    <div>
                        <label class="col-sm-1">部门 : </label>
                        <div class="col-sm-6">
                            {% for sample in departments %}
                                <label>{{ sample.name }}</label>
                            {% endfor %}
                        </div>
                        <button class="btn btn-default col-sm-6" data-toggle="modal" data-target="#myModal3">添加部门</button>
                        <button class="btn btn-default col-sm-6" data-toggle="modal" data-target="#myModal4">删除部门</button>
                        <form method="post" action="/hrms/company/editdepartment" class="form-horizontal" role="form"
                              id="myForm"
                              onsubmit="return ">{% csrf_token %}
                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                <div class="modal-dialog">
                                    <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                    <div class="modal-content">
                                        <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--  模态框内容，我在此处添加一个表单 -->
                                            <div class="row">
                                                <div>
                                                    <h4 style="text-align: center">请输入部门名称</h4>
                                                </div>
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label for="dname"
                                                                   class="col-sm-2 control-label">部门名称</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" id="dname" name="dname"
                                                                       class="form-control well"
                                                                       placeholder="请输入部门名称"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div>
                            </div> <!-- /.modal -->
                        </form>
                        <form method="post" action="/hrms/company/deletedepartment" class="form-horizontal" role="form"
                              id="myForm"
                              onsubmit="return ">{% csrf_token %}
                            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                <div class="modal-dialog">
                                    <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                    <div class="modal-content">
                                        <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--  模态框内容，我在此处添加一个表单 -->
                                            <div class="row">
                                                <div>
                                                    <h4 style="text-align: center">删除部门</h4>
                                                </div>
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">请选择要删除的部门</label>
                                                            <div class="col-sm-5">
                                                                <select class="selectpicker" data-size="20" multiple
                                                                        data-live-search="true" id="department2del"
                                                                        name="department2del"
                                                                        data-live-search-placeholder="搜索"
                                                                        data-actions-box="true"
                                                                        data-selected-text-format="count > 3">　
                                                                    <optgroup label="filter1">　　　　
                                                                        {% for sample in departments %}
                                                                            <option>{{ sample.name }}</option>
                                                                        {% endfor %}　　
                                                                    </optgroup>
                                                                    　
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div>
                            </div> <!-- /.modal -->
                        </form>
                    </div>
                    <div>
                        <label class="col-sm-1">职级 : {{ employee.department }}</label>
                        <div class="col-sm-6">
                            {% for sample in ranks %}
                                <label>{{ sample.name }}</label>
                            {% endfor %}
                        </div>
                        <button class="btn btn-default col-sm-6" data-toggle="modal" data-target="#myModal5">添加职级</button>
                        <button class="btn btn-default col-sm-6" data-toggle="modal" data-target="#myModal6">删除职级</button>
                        <form method="post" action="/hrms/company/editrank" class="form-horizontal" role="form"
                              id="myForm"
                              onsubmit="return ">{% csrf_token %}
                            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                <div class="modal-dialog">
                                    <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                    <div class="modal-content">
                                        <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--  模态框内容，我在此处添加一个表单 -->
                                            <div class="row">
                                                <div>
                                                    <h4 style="text-align: center">请输入职级名称</h4>
                                                </div>
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label for="rname"
                                                                   class="col-sm-2 control-label">职级名称</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" id="rname" name="rname"
                                                                       class="form-control well"
                                                                       placeholder="请输入职级名称"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div>
                            </div> <!-- /.modal -->
                        </form>
                        <form method="post" action="/hrms/company/deleterank" class="form-horizontal" role="form"
                              id="myForm"
                              onsubmit="return ">{% csrf_token %}
                            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                <div class="modal-dialog">
                                    <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                    <div class="modal-content">
                                        <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--  模态框内容，我在此处添加一个表单 -->
                                            <div class="row">
                                                <div>
                                                    <h4 style="text-align: center">删除职级</h4>
                                                </div>
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">请选择要删除的职级</label>
                                                            <div class="col-sm-5">
                                                                <select class="selectpicker" data-size="20" multiple
                                                                        data-live-search="true" id="rank2del"
                                                                        name="rank2del"
                                                                        data-live-search-placeholder="搜索"
                                                                        data-actions-box="true"
                                                                        data-selected-text-format="count > 3">　
                                                                    <optgroup label="filter1">　　　　
                                                                        {% for sample in ranks %}
                                                                            <option>{{ sample.name }}</option>
                                                                        {% endfor %}　　
                                                                    </optgroup>
                                                                    　
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div>
                            </div> <!-- /.modal -->
                        </form>
                    </div>
                    <div>
                        <button class="btn btn-default" data-toggle="modal" style="display: table;margin-left: auto;margin-right: auto" data-target="#myModal2">修改企业信息</button>
                        <form method="post" action="/hrms/company/editcompany" class="form-horizontal" role="form"
                              id="myForm"
                              onsubmit="return ">{% csrf_token %}
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                <div class="modal-dialog">
                                    <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                    <div class="modal-content">
                                        <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--  模态框内容，我在此处添加一个表单 -->
                                            <div class="row">
                                                <div>
                                                    <h4 style="text-align: center">修改信息</h4>
                                                </div>
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label for="cname"
                                                                   class="col-sm-2 control-label">企业名称</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" id="cname" name="cname"
                                                                       class="form-control well" value="{{ company.c_name }}"
                                                                       placeholder="请输入企业名称"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cname"
                                                                   class="col-sm-2 control-label">企业地址</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" id="cadd" name="cadd"
                                                                       class="form-control well" value="{{ company.c_address }}"
                                                                       placeholder="请输入企业名称"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cpwd"
                                                                   class="col-sm-2 control-label">登录密码</label>
                                                            <div class="col-sm-7">
                                                                <input type="password" id="cpwd" name="cpwd"
                                                                       class="form-control well" value="{{ company.password }}"
                                                                       placeholder="请输入新的密码"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div>
                            </div> <!-- /.modal -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->


    <div class="col-md-2">
        {% if request.user.is_authenticated %}
            <!-- Form -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-user"></span>
                        已登录
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">hi:{{ user }} <a href={% url "logout" %}><input class="btn btn-default"
                                                                                            type="submit"
                                                                                            value="Logout"/></a></div>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-log-in"></span>
                        登录
                    </h3>
                </div>
                <div class="panel-body">
                    <form action={% url "login" %} method="post">
                        {% csrf_token %}
                        {{ loginform.non_field_errors }}
                        <div class="form-group">
                            <input type="text" class="form-control" id="uid" name="uid" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pwd" required placeholder="密码" class="form-control" id="pwd"/>
                        </div>
                        <button type="submit" class="btn btn-default">登录</button>
                        <a href="{% url "register" %}" class="btn btn-default" style="float: right">注册</a>
                    </form>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>
                    操作
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <button class="btn btn-default" style="display: table;margin-left: auto;margin-right: auto">
                            基本信息
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-default"
                                style="display: table;margin-left: auto;margin-right: auto;margin-top: 40px">激励详情
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-md-1"></div>
</div><!--/container-fluid-->


<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}" charset="UTF-8"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" %}"
        charset="UTF-8"></script>
<script type="text/javascript"
        src="{% static "bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" %}"
        charset="UTF-8"></script>
<script>
    $("#addform").click(function () {
        //添加的内容
        var addform = '<div id="addformbody"><form role="form"><div class="form-group">' +
            '<label for="name">实习公司名称</label>' +
            '<input type="text" class="form-control" placeholder="实习公司名称" required></div>' +
            '<div class="form-group">' +
            '<label for="name">实习经历</label>' +
            '<textarea class="form-control" rows="3" required></textarea></div>' +
            '<div class="row"><div class="col-md-4"><button type="submit" class="btn btn-primary" >提交实习经历</button>' +
            '</div><div class="col-md-4 col-md-offset-4"><button type="button" class="btn btn-primary" id="removeform">' +
            '删除实习经历</button></div></div></form></div>';
        $("#formpart").after($(addform));
        //删除表单
        $("#removeform").click(function () {
            $("#addformbody").remove();
        });
    });
</script>

<!-- IE10 viewport bug workaround -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
<!-- Placeholder Images -->
<script src="{% static "js/holder.min.js" %}"></script>
<script src="{% static "js/bootstrap-select.min.js" %}"></script>
<script src="{% static "sortable-0.8.0/js/sortable.min.js" %}"></script>
<script src="{% static 'echarts.js' %}"></script>
<script src="{% static 'holder.js' %}"></script>

</body>

</html>
