<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mercer长期激励工具管理系统</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <script src="{% static "csrf.js" %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet"
          media="screen">
    <link href="{% static "css/bootstrap-select.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "sortable-0.8.0/css/sortable-theme-bootstrap.css" %}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="col-md-1"></div>
<!-- Navigation -->
<div class="col-md-10">
    <h1>Mercer长期激励工具管理系统</h1>
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href={% url "index" %}>首页</a>
                    </li>
                    <li class="active">
                        <a href={% url "staff" %}>人员管理</a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">计划管理<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href={% url "plan" %}>计划信息</a></li>
                            <li><a href={% url "planlist" %}>授予记录</a></li>
                            <li><a href={% url "attlist" %}>归属记录</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href={% url "company" %}>企业信息</a>
                    </li>

                </ul>

            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>

<div class="col-md-1"></div>

<div class="container-fluid">

    <div class="col-md-1"></div>

    <div class="col-md-8">
        <h3 style="display: table;margin-left: auto;margin-right: auto">员工信息</h3>
        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading">
                <p>基本信息</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <label class="col-sm-6">工号 : {{ employee.number }}</label>
                        <label class="col-sm-6">姓名 : {{ employee.name }}</label>
                    </div>
                    <div>
                        <label class="col-sm-6">部门 : {{ employee.department }}</label>
                        <label class="col-sm-6">职级 : {{ employee.rank }}</label>
                    </div>
                    <div>
                        <label class="col-sm-6">入职时间 : {{ employee.join_date }}</label>
                        <label class="col-sm-6">离职时间 : {{ employee.leave_date }}</label>
                    </div>
                    <div>
                        <label class="col-sm-6">是否完成业绩指标 : {{ employee.is_finish }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading">
                <h4>激励信息</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <label class="col-sm-6">已授予期权 : {{ qq_ysy }}</label>
                        <label class="col-sm-6">已归属期权 : {{ qq_ygs }}</label>
                    </div>
                    <div>
                        <label class="col-sm-6">未归属期权 : {{ qq_wgs }}</label>
                        <label class="col-sm-6">已授予限制性股票 : {{ rsu_ysy }}</label>
                    </div>
                    <div>
                        <label class="col-sm-6">已归属限制性股票 : {{ rsu_ygs }}</label>
                        <label class="col-sm-6">未归属限制性股票 : {{ rsu_wgs }}</label>
                    </div>
                    <div>
                        <label class="col-sm-6">下次归属日期 : {{ next_date }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading" id="shouyuxinxi">
                <h4>授予信息</h4>
            </div>
            <div class="panel-body">
                <div class="panel-body" style="display: table;margin-left: auto;margin-right: auto">
                    <table class="sortable-theme-bootstrap" data-sortable>
                        <thead>
                        <tr>
                            <th>
                                序号
                            </th>
                            <th data-sortable="false">
                                所属计划
                            </th>
                            <th data-sortable="false">
                                授予日期
                            </th>
                            <th data-sortable="false">
                                激励工具
                            </th>
                            <th>
                                计划授予量
                            </th>
                            <th>
                                实际授予量
                            </th>
                            <th>
                                已归属
                            </th>
                            <th>
                                未归属
                            </th>
                            <th data-sortable="false">
                                查看详情
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sample in grantlist %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ sample.name }}</td>
                                <td>{{ sample.g_time }}</td>
                                <td>{{ sample.tool }}</td>
                                <td>{{ sample.onesum }}</td>
                                <td>{{ sample.one_real_sum }}</td>
                                <td>{{ sample.yiguishu }}</td>
                                <td>{{ sample.weiguishu }}</td>
                                <td><a class="btn btn-default" href="#div{{ forloop.counter }}">查看详情</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        {% for sample in attlist %}
            <div class="panel panel-default" style="margin-top: 20px">
                <div class="panel-heading" id="div{{ forloop.counter }}">
                    <h4>归属详情{{ forloop.counter }}</h4>
                </div>
                <div class="panel-body">
                    <div class="panel-body" style="display: table;margin-left: auto;margin-right: auto">
                        <table class="sortable-theme-bootstrap" data-sortable>
                            <thead>
                            <tr>
                                <th data-sortable="false">
                                    激励工具
                                </th>
                                <th data-sortable="false">
                                    归属日期
                                </th>
                                <th>
                                    计划归属量
                                </th>
                                <th>
                                    归属系数
                                </th>
                                <th>
                                    是否已分配
                                </th>
                                <th data-sortable="false">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for att in sample %}
                                <tr>
                                    <td>{{ att.plan_name }}</td>
                                    <td>{{ att.date }}</td>
                                    <td>{{ att.sum }}</td>
                                    <td>{{ att.proportion }}</td>
                                    <td>{{ att.is_allot }}</td>
                                    <td>
                                        <div class="row">
                                            <button class="btn btn-default" data-toggle="modal"
                                                    data-target="#myModal{{ att.id }}">修改
                                            </button>
                                            <form method="post"
                                                  action="/hrms/staff/edit_att/{{ employee.number }}-{{ att.id }}/"
                                                  class="form-horizontal"
                                                  role="form" id="myForm"
                                                  onsubmit="return ">{% csrf_token %}
                                                <div class="modal fade" id="myModal{{ att.id }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="myModalLabel"
                                                     aria-hidden="true">
                                                    <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                                    <div class="modal-dialog">
                                                        <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                                        <div class="modal-content">
                                                            <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                                            <div class="modal-body">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    &times;
                                                                </button>
                                                                <!--  模态框内容，我在此处添加一个表单 -->
                                                                <div class="row">
                                                                    <div>
                                                                        <h4 style="text-align: center">修改归属信息</h4>
                                                                    </div>
                                                                    <div>
                                                                        <form class="form-horizontal" role="form">
                                                                            <div class="form-group">
                                                                                <label for="date"
                                                                                       class="col-sm-2 control-label">归属日期</label>
                                                                                <div class="col-sm-7">
                                                                                    <input size="16" type="date"
                                                                                           class="form-control"
                                                                                           value="{{ att.date }}"
                                                                                           id="date" name="date">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="sum"
                                                                                       class="col-sm-2 control-label">计划归属量</label>
                                                                                <div class="col-sm-7">
                                                                                    <input type="text" id="sum"
                                                                                           name="sum"
                                                                                           class="form-control well"
                                                                                           value="{{ att.sum }}"
                                                                                           placeholder="请输入计划归属量"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="proportion"
                                                                                       class="col-sm-2 control-label">归属系数</label>
                                                                                <div class="col-sm-7">
                                                                                    <input type="text" id="proportion"
                                                                                           name="proportion"
                                                                                           class="form-control well"
                                                                                           value="{{ att.proportion }}"
                                                                                           placeholder="请输入归属系数"/>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                                                <button type="submit" class="btn btn-default">确定
                                                                </button>
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">取消
                                                                </button>
                                                            </div>

                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div> <!-- /.modal -->
                                            </form>
                                            <button class="btn btn-default" data-toggle="modal"
                                                    data-target="#my1Modal{{ att.id }}">删除
                                            </button>
                                            <form method="post"
                                                  action="/hrms/staff/del_att/{{ employee.number }}-{{ att.id }}/"
                                                  class="form-horizontal"
                                                  role="form" id="myForm"
                                                  onsubmit="return ">{% csrf_token %}
                                                <div class="modal fade" id="my1Modal{{ att.id }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="myModalLabel"
                                                     aria-hidden="true">
                                                    <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                                    <div class="modal-dialog">
                                                        <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                                        <div class="modal-content">
                                                            <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                                            <div class="modal-body">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    &times;
                                                                </button>
                                                                <!--  模态框内容，我在此处添加一个表单 -->
                                                                <div class="row">
                                                                    <div>
                                                                        <h4 style="text-align: center">确定删除？</h4>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                                                <button type="submit" class="btn btn-default">确定
                                                                </button>
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">取消
                                                                </button>
                                                            </div>

                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div> <!-- /.modal -->
                                            </form>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-default" href="#shouyuxinxi">返回</a>
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>

    <div class="col-md-2">
        {% if request.user.is_authenticated %}
            <!-- Form -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-user"></span>
                        已登录
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">hi:{{ user }} <a href={% url "logout" %}><input class="btn btn-default"
                                                                                            type="submit"
                                                                                            value="Logout"/></a></div>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-log-in"></span>
                        登录
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{% url "login" %}" method="post">
                        {% csrf_token %}
                        {{ loginform.non_field_errors }}
                        <div class="form-group">
                            <input type="text" class="form-control" id="uid" name="uid" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pwd" required placeholder="密码" class="form-control" id="pwd"/>
                        </div>
                        <button type="submit" class="btn btn-default">登录</button>
                        <a href="{% url "register" %}" class="btn btn-default" style="float: right">注册</a>
                    </form>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>
                    操作
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <button class="btn btn-default"
                                style="display: table;margin-left: auto;margin-right: auto"
                                data-toggle="modal" data-target="#myModal">编辑基本信息
                        </button>
                        <form method="post" action="/hrms/staff/edit/{{ employee.number }}/" class="form-horizontal"
                              role="form" id="myForm"
                              onsubmit="return ">{% csrf_token %}
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
                                <div class="modal-dialog">
                                    <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                                    <div class="modal-content">
                                        <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--  模态框内容，我在此处添加一个表单 -->
                                            <div class="row">
                                                <div>
                                                    <h4 style="text-align: center">修改员工信息</h4>
                                                </div>
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label for="ename"
                                                                   class="col-sm-2 control-label">员工姓名</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" id="ename" name="ename"
                                                                       class="form-control well"
                                                                       value="{{ employee.name }}"
                                                                       placeholder="请输入员工姓名"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="department"
                                                                   class="col-sm-2 control-label">部门</label>
                                                            <div class="col-sm-7">

                                                                <select class="selectpicker" title="请选择部门"
                                                                        id="department" value ="{{ employee.department }}"
                                                                        name="department">
                                                                    {% for sample in department_list %}
                                                                        <option>{{ sample.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="rank" class="col-sm-2 control-label">职级</label>
                                                            <div class="col-sm-7">
                                                                <select class="selectpicker" title="请选择职级" id="rank"
                                                                        name="rank" defaultValue="{{ employee.rank }}">
                                                                    {% for sample in rank_list %}
                                                                        <option>{{ sample.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="join_date"
                                                                   class="col-sm-2 control-label">入职时间</label>
                                                            <div class="col-sm-5">
                                                                <input size="16" type="date" class="form-control"
                                                                       value="{{ employee.join_date }}"
                                                                       id="join_date" name="join_date">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="leave_date"
                                                                   class="col-sm-2 control-label">离职时间</label>
                                                            <div class="col-sm-5">
                                                                <input size="16" type="date" class="form-control"
                                                                       value="{{ employee.leave_date }}"
                                                                       id="leave_date" name="leave_date">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <!--  模态框底部样式，一般是提交或者确定按钮 -->
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                            </button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div>
                            </div> <!-- /.modal -->
                        </form>
                    </div>
                    <div>
                        <button class="btn btn-default"
                                style="display: table;margin-left: auto;margin-right: auto;margin-top: 40px">激励详情
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-md-1"></div>
</div><!--/container-fluid-->


<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}" charset="UTF-8"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" %}"
        charset="UTF-8"></script>
<script type="text/javascript"
        src="{% static "bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" %}"
        charset="UTF-8"></script>
<!-- IE10 viewport bug workaround -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
<!-- Placeholder Images -->
<script src="{% static "js/holder.min.js" %}"></script>
<script src="{% static "js/bootstrap-select.min.js" %}"></script>
<script src="{% static "sortable-0.8.0/js/sortable.min.js" %}"></script>
<script src="{% static 'echarts.js' %}"></script>
<script src="{% static 'holder.js' %}"></script>

</body>

</html>
